@model WebApplication1.Models.EmployeeInPermitsModel

@{
    ViewBag.Title = "EmployeePermitDetail";
}

<h2>EmployeePermitDetail</h2>

<div>
    <h4>EmployeeInPermitsModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
