<ul class="nav navbar-top-links navbar-right">
    
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-home fa-fw"></i> 5 Boş Oda
                        <span class="pull-right text-muted small">4 dakika önce</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-users fa-fw"></i> 360 Aktif Müşteri
                        <span class="pull-right text-muted small">12 dakika önce</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-money fa-fw"></i> 10.350 TL Ciro
                        <span class="pull-right text-muted small">4 dakika önce</span>
                    </div>
                </a>
            </li>
            
           
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>Tüm Bilgirimler</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a><strong>Fatih GÜRDAL</strong></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Kullanıcı Profili</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Ayarlar</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>