<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" id="SideMenus">
        
        <img src="~/images/loading.gif" alt="" class="img-responsive center-block" style="width: 100%; padding: 30px;"/>
    </div>
    <!-- /.sidebar-collapse -->
</div>