

    <div class="col-md-12">
        <img src="~/images/logo.png" alt="DeadLock" class="img-responsive center-block" />
        <div class="text-center">
            Copyright © @DateTime.Now.Year Tüm Hakları Saklıdır - DeadLock Bilişim Teknolojileri Hizmetleri
        </div>


</div>